<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Main Activity - no launcher intent, just a target -->
        <activity
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|smallestScreenSize|screenLayout|uiMode|navigation"
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBarLaunch"
            android:launchMode="singleTask"
            android:exported="true">
        </activity>

        <!-- Default icon (rose) - enabled by default -->
        <activity-alias
            android:name=".MainActivityRose"
            android:enabled="true"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_rose"
            android:roundIcon="@mipmap/ic_launcher_rose_round"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <!-- Sage green icon -->
        <activity-alias
            android:name=".MainActivitySage"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_sage"
            android:roundIcon="@mipmap/ic_launcher_sage_round"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <!-- Lavender icon -->
        <activity-alias
            android:name=".MainActivityLavender"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_lavender"
            android:roundIcon="@mipmap/ic_launcher_lavender_round"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <!-- Wheat icon -->
        <activity-alias
            android:name=".MainActivityWheat"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_wheat"
            android:roundIcon="@mipmap/ic_launcher_wheat_round"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <!-- Teal icon -->
        <activity-alias
            android:name=".MainActivityTeal"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_teal"
            android:roundIcon="@mipmap/ic_launcher_teal_round"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <!-- Mauve icon -->
        <activity-alias
            android:name=".MainActivityMauve"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_mauve"
            android:roundIcon="@mipmap/ic_launcher_mauve_round"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <!-- Coral icon -->
        <activity-alias
            android:name=".MainActivityCoral"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_coral"
            android:roundIcon="@mipmap/ic_launcher_coral_round"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"></meta-data>
        </provider>
    </application>

    <!-- Permissions -->

    <uses-permission android:name="android.permission.INTERNET" />
</manifest>
